<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{'/style.css'}">
</head>
<body class="create">
<img th:src="@{/photos/img3.jpg}" width="500"/>
<h1>Java quiz game</h1>
<h2>Signup</h2>

<form th:action="@{/save}" method="POST" th:object="${user}">
    Username: <input type="text" th:field="*{username}"/>
    Password: <input type="password" th:field="*{password}"/>
    <input type="submit"/>
</form>
<a href="/login"><input type="button" value="Back"/></a><br>
</body>
</html>