<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<body>

<h1>Java Quiz</h1>
<p>Each question has 4 options.</p>

<table>
    <tr th:text="'Question ' + ${session.question.quiz}">
        QUESTION
    </tr>
    <form th:action="@{/game}" method="post">
        <tr>


            <td>
                <input type="radio" name="action" th:value="session.question.answerW3"/><label th:text="${session.question.answerW3}"></label><br>
                <input type="radio" name="action" th:value="session.question.answerC"/><label th:text="${session.question.answerC}"></label><br>
                <input type="radio" name="action" th:value="session.question.answerW1"/><label th:text="${session.question.answerW1}"></label><br>
                <input type="radio" name="action" th:value="session.question.answerW2"/><label th:text="${session.question.answerW2}"></label><br>
                <p>
                    <input type="submit" name="Get answer">
                </p>
            </td>

        </tr>

    </form>
    <tr>

    </tr>
    <tr>
        <td>
            <p th:if="${correctAnswer}" style="color: green">
                Correct Answer
            </p>
            <p th:if="${incorrectAnswer}" style="color: red">
                Incorrect Answer
            </p>

            <p>
                <a href="/userpage"><input type="button" value="End game"/></a>
                <a href="/game"><input type="button" value="Next"/></a>
            </p>
        </td>
    </tr>
</table>

</body>
</html>